{% extends 'base.html' %}

{% block title %} Your number one PollMaker Online {% endblock %}

{% block body %}
    <div style="font-family: 'Mali', cursive;" class="container">
        <h1 class="text-center mb-3">Welcome to PollMaker</h1>
    </div>

    <p class="text-muted">Available Polls</p>

    <div style="font-family: 'Noto Sans JP', sans-serif;" class="container">
        {% if question_list %}
            {% for question in question_list %}
                <div class="card mb-3">
                    <div class="card-body">
                        <p class="lead "><a href="{% url 'detail' question.id %}" class="text-decoration-none text-capitalize">{{ question.question_text }}</a></p>
                        <!--
                        <a href="{% url 'detail' question.id %}" class="btn btn-primary btn-sm">VoteNow</a>
                        <a href="{% url 'result' question.id %}" class="btn btn-secondary btn-sm">Results</a>
                        -->
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No Polls available</p>
        {% endif %}
    </div>
{% endblock %}
